
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;

}
.screen {
    /* width:1000vw ; */
    height: 90vh;
    /* background-color: red; */

    background-image: url(img/world.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.head {
    /* width:200vw ; */
    height: 10vh;
    /* background-color:gray; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 4rem;
    }
    
    
.head UL {
    display: flex;
    gap: 0 3rem;
    font-size: 2.5rem;
}
.hero {
    /* background-color: bisque; */
    height: 89%;
    /* justify-items: center; */
    /* padding: 20rem 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.head h1 {
    font-size: 35px;
}
.hero h1 {
    font-size: 40px;
}
.hero h2 {
   font-size:  25px;
   border-radius: 3rem;
   background-color:white;
   padding: 2rem;
   color: black;
   cursor: pointer;
}
.hero h4 {
    font-size: 18px;
    padding: 2rem;
}
.main {
    background-color: gray;
    padding: 6rem 3rem;
    height: 400px;
    display: flex;
}
.main-1 {
    width: 50%;
    height:300px;
    background-color:white ;
    }
    .main-2 {
        width: 50%;
        height: 300px;
        background-color:white;
    }
    .main-1 h1 {
        font-size: 30px;
        padding: 2rem;
    }
    .main-1 p {
        font-size: 20px;
        padding: 2rem;
        padding-top: 0;
    }
    .main-2 {
        background-image: url(img/nature.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .main {
    background-color: gray;
    padding: 6rem 3rem;
    height: 400px;
    display: flex;
}
.main-1 {
    width: 50%;
    height:300px;
    background-color:white ;
    }
    .main-2 {
        width: 50%;
        height: 300px;
        background-color:white;
    }
    .main-1 h1 {
        font-size: 30px;
        padding: 2rem;
    }
    .main-1 p {
        font-size: 20px;
        padding: 2rem;
        padding-top: 0;
    }
    .main-2 {
        background-image: url(img/nature.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
   .center {
     background-color: white;
    padding: 6rem 3rem;
    height: 400px;
    display: flex;
    }
    .center1 {
        font-size: 18px;
        height: 300px;
        width: 33%;
        background-color: black;
        color: white;
        text-align: center;
        padding-top: 3rem;
        }
          .center2 {
        font-size: 18px;
        height: 300px;
        width: 33%;
        background-color: orangered;
        color: white;
        text-align: center;
        padding-top: 3rem;
        }
          .center3 {
        font-size: 18px;
        height: 300px;
        width: 33%;
        background-color: black;
        color: white;
        text-align: center;
        padding-top: 3rem;
        }
        .center1 p {
            padding-top: 1.5rem;
}
.center2 p {
    padding-top:1.5rem ;
}
.center3 p {
    padding-top: 1.5rem;
}
.end {
    background-color:rgb(0, 0, 39) ;
    height: 100px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.end1 {
    font-size: 40px;
}
.end2 {
    font-size: 40px;
}
.end3 {
    font-size: 40px;
}
.last {
    display: flex;
   flex-direction: column;
}






